{% extends 'customer/parent_template.html' %}
<title > {% block title %} Orders {% endblock %} </title>

{% block content %}
	
		<!-- MAIN -->
		<div class="main">
						<!-- MAIN CONTENT -->
						<div class="main-content" ng-app="fosapp">
							<div class="container-fluid"> <h3 class="page-title">Favorites</h3>
								<div class="row">
									<!--ORDERS LIST-->
									<div class="col-md-14" >
									<div class="panel">
											<div class="panel-heading">
												<h3 class="panel-title">Your favorite list</h3>
											</div>
											<div class="panel-body table-responsive">
												<table class="table table-striped" ng-controller="favctrl as ctrl">
													<thead>
														<tr>
															<th>Item </th>
															<th>Item Name</th>
															<th>Item description</th>
															<th>Price</th>
														</tr>
													</thead>
													<tbody >
														<tr ng-repeat="fav_item in ctrl.list">
															<td><img src="{{url_for('static', filename='canteen-owner/img/default_food.jpg')}}" style="width:100px;height:80px;"></td>
															<td>{a fav_item.Item_name a}</td>
															<td>{a fav_item.Description a}</td>
															<td>{a fav_item.Price a}</td>
														</tr>	
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!--END ORDERS LIST-->	
								</div>
							</div>
						</div>
						<!-- END MAIN CONTENT -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>	
		<script type="text/javascript" src="{{url_for('static', filename='customer/angular_module.js')}}"></script>
		</div>
		<!-- END MAIN -->
{% endblock %}